<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><p align="center"><a href="x">MANAGE BUS OWNERS</a></p>
         <p align="center"><a href="view_bussowner">VIEW BUS OWNER</a></p>
    <p align="center"><a href="manage_bus_route">ROUTE MANAGEMENT</a></p>

    <p align="center"><a href="stopmangmnt">STOP MANAGEMENT</a></p>
    <p align="center"><a href="userinformtion">VIEW USER INFO & BOOKING DETAILS</a></p>
    <p align="center"><a href="viewfeedback">VIEW FEEDBACKS</a></p>
    <p align="center"><a href="viewcomplaints   ">VIEW COMPLAINTS &amp; SEND REPLY</a></p>
    <p align="center"><a href="/admin_view_notification">MANAGE NOTIFICATIONS</a></p>
    <form id="form1" name="form1" method="post" action="">
      <label>
        <div align="center">
          <input type="submit" name="Submit" value="log out" />
        </div>
      </label>
    </form>    <p align="center">&nbsp;</p></td>
  </tr>
</table>
</body>
</html>
