<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="253" height="324" border="1">
  <tr>
    <td><p><a href="manageemploye">MANAGE EMPLOYE</a></p>
        <p><a href="managebus">MANAGE BUS</a></p>
      <p><a href="trip">TRIP &amp; TIME SHEDULE</a></p>
      <p><a href="view_assignedemp">VIEW ASSIGNED EMPLOYE & BUS</a></p>
      <p><a href="viewcollection">COLLECTION DETAILS</a></p>
      <p><a href="view_notification">NOTIFICATION</a></p></td>
  </tr>
</table>
<a href="#"></a>
</form>

</body>

</html>
